.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

body{
    display: flex;
    flex-wrap: wrap;
}

.header, .footer{
    flex-basis: 100%;
}

.sidebar{
    flex-basis: 30%;
}

.content{
    flex-basis: 70%;
}

@media screen and (max-width : 750px){
    .content{
        flex-basis: 100%;
    }

    .sidebar{
        flex-basis: 100%;
    }
    
}